*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
Downloads/
images/
models/
playroom/
playroom_1000/
playroom_from_image_folder/
tandt_db/
temp_commands.txt
playroom_original_30000/
playroom_skm_7000/